.namorados {
    .bannerWrapper {
        .bannerItem {
            width: toPercentage($wrapper-global, $wrapper-global);
            .banner {
                width: 100%;
                background-size: cover;
                position: relative;
                overflow: hidden;
                @include responsive-image(648, 1600);
                @include desktop-small {
                    @include responsive-image(520, 1280);
                }
                @include tablet {
                    @include responsive-image(405, 991);
                }
                @include mobile {
                    @include responsive-image(199, 320);
                }
            }
        }
    }
}