@mixin letter-spacing($tracking) {
    letter-spacing: ($tracking / 1000) * 1em;
}

@mixin line-height($tracking) {
    line-height: ($tracking / 1000) * 1em;
}

$offset-md: 0;
$offset-md-large: 0;
$offset-md-medium: 0;
@mixin wrapper($offset-md: $offset-md, $offset-md-large: $offset-md-large, $offset-md-medium: $offset-md-medium, $offset-sm:0, $offset-xs: 0) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>.wrapper {
        width: toPercentage($wrapper-global, $wrapper-md + $offset-md);
    }
    @include desktop-large {
        &>.wrapper {
            width: toPercentage($wrapper-global, $wrapper-md + $offset-md-large);
        }
    }
    @include desktop-medium {
        &>.wrapper {
            width: toPercentage($wrapper-global, $wrapper-md + $offset-md-medium);
        }
    }
    @include tablet {
        &>.wrapper {
            width: toPercentage($wrapper-global-xs, $wrapper-xs + $offset-sm);
        }
    }
}

@mixin font-em($font-size, $line-height: 0) {
    font-size: em($font-size);
    @if ($line-height > 0) {
        line-height: $line-height;
        line-height: ($line-height / $browser-context) * 1em;
    }
}

@mixin cursorClose {
    cursor: url("/arquivos/cursor-close.png"), auto;
}

@mixin btn-accessibility {
    position: relative;
    outline: none;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 3px;
        background: rgba(255, 255, 255, .8);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }
    /* Ripple magic */
    @keyframes ripple {
        0% {
            transform: scale(0, 0);
            opacity: 1;
        }
        20% {
            transform: scale(25, 25);
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: scale(100, 100);
        }
    }
    &:focus:not(:active)::after {
        animation: ripple 0.5s ease-out;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        @content;
    }
}

@mixin scrollbar-track {
    &::-webkit-scrollbar-track {
        @content;
    }
}

@mixin scrollbar-thumb {
    &::-webkit-scrollbar-thumb {
        @content;
    }
}

@mixin font-encode {
    font-family: 'Encode Sans', sans-serif;
}


@mixin responsive-image($height,
$width) {
    padding-top: (($height / $width) * 100) * 1%;
}

@mixin encode-thin {
    @include font-encode;
    font-weight: 100;
}

@mixin encode-l {
    @include font-encode;
    font-weight: 300;
}

@mixin encode-r {
    @include font-encode;
    font-weight: 400;
}

@mixin encode-m {
    @include font-encode;
    font-weight: 500;
}

@mixin encode-sb {
    @include font-encode;
    font-weight: 600;
}

@mixin encode-b {
    @include font-encode;
    font-weight: 700;
}

@mixin encode-eb {
    @include font-encode;
    font-weight: 800;
}
@mixin encode-mb {
    @include font-encode;
    font-weight: 900;
}


@mixin border {
    position: relative;
    &::after {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        width: 100%;
        opacity: 0.3;
        background: #707070;
    }
}

@mixin fadeIn {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
}

@mixin fade {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@mixin fadeInleft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

@mixin inNav {
    -webkit-animation-name: fadeInleftNav;
    animation-name: fadeInleftNav;
    @-webkit-keyframes fadeInleftNav {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            visibility: hidden;
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);
            visibility: visible;
        }
    }
    @keyframes fadeInleftNav {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            visibility: hidden;
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);
            visibility: visible;
        }
    }
}

@mixin outNav {
    -webkit-animation-name: fadeOutleftNav;
    animation-name: fadeOutleftNav;
    @-webkit-keyframes fadeOutleftNav {
        from {
            opacity: 1;
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);
            display: flex;
            visibility: visible;
        }
        to {
            opacity: 0;
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            display: none;
            visibility: hidden;
        }
    }
    @keyframes fadeOutleftNav {
        from {
            opacity: 1;
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);
            display: flex;
            visibility: visible;
        }
        to {
            opacity: 0;
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            display: none;
            visibility: hidden;
        }
    }
}

@mixin fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    @-webkit-keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

@mixin fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

@mixin fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    @-webkit-keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -9%, 0);
            transform: translate3d(0, -9%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin loading($color-base: #f5f1ee, $color-highlight: lighten($color-base, 7%)) {
    position: relative;
    overflow: hidden;
    background: $color-base;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
        animation: progress 1s ease-in-out infinite;
    }
    @keyframes progress {
        0% {
            transform: translate3d(-100%, 0, 0);
        }

        100% {
            transform: translate3d(100%, 0, 0);
        }
    }
}