$wrapper: 750;
.navigation {
    max-width: 762px;
    position: relative;
    z-index: 2;
    .list {
        margin-top: 10px;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $cp1;
            padding: 5px 10px;
            @include desktop-small {
                padding: 5px 5px;
            }
            position: relative;
            cursor: pointer;
            .link {
                font-size: em(11);
                line-height: em(20, 16);
                text-decoration: none;
                @include encode-b;
                color: $cp1;
                text-transform: uppercase;
                span {
                    color: $cy1;
                }
            }
            &.hover {
                background: $cg4;
                transition: ease-in .2s;
                >.wrapperSubNavigation {
                    opacity: 1;
                    visibility: visible;
                }
                .mask {
                    @include cursorClose;
                    position: fixed;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    background: rgba(0, 0, 0, .7);
                }
            }
            .arrowDown {
                width: toPercentage(150, 41);
                display: none;
                background: $cr3;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -1px;
                top: 0;
                bottom: 0;
                .arrow {
                    display: block;
                    width: 50%;
                }
            }
            .wrapperSubNavigation {
                z-index: 1;
                position: absolute;
                width: 100%;
                z-index: 1;
                left: 0;
                opacity: 0;
                visibility: hidden;
                margin: 0 auto;
                right: 0;
                transition: ease-in .2s;
                background: #dddddd;
                min-width: 130px;
                padding: 10px;
                top: 23px;
                @include desktop-small {
                    top: 20px;
                }
                .subcategoryWrapper {
                    &>.link {
                        font-size: em(12);
                        text-decoration: none;
                        color: $cp1;
                        margin-bottom: toPercentage(292, 25);
                        display: block;
                        @include encode-r;
                        display: flex;
                        align-items: end;
                        transition: ease-in .2s;
                        &:hover {
                            &:before {
                                content: '';
                                width: 2px;
                                background: $cp1;
                                height: 15px;
                                position: absolute;
                                left: 5px;
                                transition: ease-in .2s;
                            }
                        }
                    }
                    .listInnerSubCategory {
                        & .link {
                            font-size: em(12);
                            text-decoration: none;
                            color: $cp1;
                            margin-bottom: toPercentage(292, 12);
                            display: block;
                            @include encode-m;
                        }
                    }
                }
            }
        }
         :global {
            .red {
                color: #c50e1f!important;
            }
        }
    }
}