.card {
    padding: 0 toPercentage($wrapper-md - 550, 65) toPercentage($wrapper-md - 550, 250) toPercentage($wrapper-md - 550, 65);
    position: relative;
    text-decoration: none;
    display: block;
    @include mobile {
        padding: toPercentage($wrapper-xs, 25);
        padding-bottom: toPercentage($wrapper-xs, 40);
    }
    .informations {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .flag {
            margin-bottom: 20px;
            height: 26px;
            text-transform: lowercase;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            overflow: hidden;
            @include mobile {
                display: none;
            }
        }
        .productName {
            font-size: em(16);
            line-height: em(20, 14);
            color: $cp1;
            text-transform: uppercase;
            height: 50px;
            overflow: hidden;
            text-align: center;
            @include encode-m;
            max-width: 300px;
            margin: 10px auto 0 auto;
            min-height: 25px;
            @include tablet {
                height: auto;
                min-height: 70px;
            }
            @include mobile {
                font-size: em(10);
                min-height: 30px;
            }
            @media screen and (max-width: 420px) {
                min-height: 45px;
            }
        }
        .oldPrice {
            font-size: em(14);
            color: $cp1;
            text-transform: uppercase;
            height: 19px;
            padding: 0 8px;
            @include encode-m;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin: auto;
            margin-bottom: 2px;
            color: #7f7f7f;
            span {
                text-decoration: line-through;
                margin-left: 5px;
            }
            &.loading {
                width: 100%;
                max-width: 190px;
            }
            @include mobile {
                font-size: em(12);
            }
        }
        .bestPrice {
            font-size: em(21);
            color: $cp1;
            text-transform: uppercase;
            padding: 0px 20px;
            margin-bottom: 20px;
            @include encode-b;
            letter-spacing: 0;
            margin: 0 auto;
            text-align: center;
            display: block;
            height: 25px;
            span {
                color: $cp1;
                display: inline-block;
                font-size: em(14, 14);
                padding: 6px 8px 6px 0px;
                cursor: pointer;
                margin-left: 17px;
                @include encode-b;
            }
        }
        .price {
            font-size: em(21);
            color: $cp1;
            text-transform: uppercase;
            padding: 0px 20px;
            margin-bottom: 20px;
            @include encode-b;
            letter-spacing: 0;
            margin: 0 auto;
            text-align: center;
            display: block;
            height: 25px;
        }
    }
    .ratting {
        height: 25px;
        margin: 28px 0;
        width: 100%;
    }
    .addToCartButton {
        width: 83%;
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        opacity: 0;
        margin: auto;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        @include mobile {
            display: none;
        }
    }
}