.catalogProductRecomendation {
    padding: 53px;
    border: 1px solid #E2E2E2;
    border-radius: 20px; 
    background: #FFF;
}

.wrapper {
    background: linear-gradient(to bottom, $cg13 70%, $cw1 70%, $cw1 100%);
}