.bannerWrapper {
    display: flex;
    // margin-bottom: 70px;
    .bannerItem {
        width: toPercentage($wrapper-global, $wrapper-global);
        .banner {
            width: 100%;
            background-size: cover;
            position: relative;
            overflow: hidden;
            @include responsive-image(868, 1600);
            @include desktop-small {
                @include responsive-image(369, 640);
            }
            @include tablet {
                @include responsive-image(575, 991);
            }
            @include mobile {
                @include responsive-image(692, 355);
            }
        }
    }
}