:global {
    #cart-resume-ref {
        width: toPercentage($wrapper-check-md, 385);
        @include tablet {
            width: 100%;
            max-width: 378px;
        }
    }
}

.cartResume {
    @include mobile {
        position: fixed;
        bottom: 0;
        background: #F5F5F5;
        transform: translateY(133vh);
        transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        z-index: 1;
        padding: 32px 18px;
        width: calc(100% - 20px);
        border-radius: 40px 40px 0 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 -33px 109px rgba(255, 255, 255, 0.6);
        height: 535px;
        &.show {
            transform: translateY(0vh);
        }
        &>div {
            height: 423px;
            overflow-y: scroll;
            font-size: 80%;
        }
    }
}

.freteBar {
    margin-top: 16px;
    padding: 5px !important;
    &>div {
        font-size: em(18) !important;
        white-space: pre;
    }
}

.resume {
    padding: 32px 18px;
    border-radius: 40px 40px 0 0;
    background: #F5F5F5;
    margin: 0 10px;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -33px 109px rgba(255, 255, 255, 0.6);
    display: none;
    @include mobile {
        display: block;
    }
    .totalizer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include encode-b;
        .label {
            font-size: em(14);
        }
        .value {
            color: $cw1;
            padding: 8px;
            background: $cr1;
            font-size: em(18);
            @include encode-b;
        }
    }
    
}

.target {
    display: none;
    @include mobile {
        display: block;
    }
    a {
        padding: 22px 10px;
        width: 100%;
        background: #00C853;
        display: block;
        color: $cw1;
        @include encode-b;
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        margin-top: 8px;
    }
}

.targetResume {
    display: none;
    @include mobile {
        display: block;
    }
    @include btn-accessibility;
    background: #000;
    font-size: em(12);
    color: $cw1;
    position: absolute;
    top: -30px;
    border: none;
    max-width: 178px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    width: 178px;
    @include encode-b;
    span {
        color: $cr1;
    }
}