.orderby {
    position: relative;
    min-width: 160px;
    @media screen and (max-width: 599px) {
        width: toPercentage($wrapper-xs, 182);
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .arrow {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        @media screen and (max-width: 599px) {
            right: 2%;
        }
    }
    .btn {
        font-size: em(12);
        color: $cp1;
        text-transform: uppercase;
        border: none;
        outline: none;
        -webkit-appearance: none;
        padding: 10px 0;
        margin: auto;
        cursor: pointer;
        @media screen and (max-width: 599px) {
            padding: toPercentage($wrapper-xs, 14) toPercentage($wrapper-xs, 74) toPercentage($wrapper-xs, 14) toPercentage($wrapper-xs, 18);
            margin: 0;
            border: none;
            text-align: center;
        }
        // border: {
        //     left: 1px solid $cg10;
        //     right: 1px solid $cg10;
        // }
        background: transparent;
        position: relative;
        z-index: 1;
        @include encode-b;
        @include placeholder {
            font-size: em(16);
            color: $cp1;
        }
    }
}