.brandWrapper {
    width: 840px;
    height: 550px;
    background: $cw1;
    z-index: 1;
    position: absolute;
    margin-left: 22.23%;
    padding: toPercentage($wrapper-global, 52) toPercentage($wrapper-global, 58);
    display: flex;
    flex-wrap: wrap;
    @include fade;
    .wrapperBrandList {
        height: 100%;
        overflow-y: scroll;
        width: toPercentage(840, 338);
        padding-right: 10px;
        @include scrollbar {
            width: 5px;
            background: $cg2;
        }
        @include scrollbar-thumb {
            background: #707070;
        }
        .title {
            font-size: em(36);
            color: $cp1;
            margin-bottom: 48px;
            @include encode-b;
            span {
                color: $cr1;
            }
        }
        .listOfBrands {
            display: flex;
            flex-direction: column;
            .brandItem {
                height: 35px;
                margin-bottom: 12px;
                overflow: hidden;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }
                img {
                    height: 100%;
                    width: 136px;
                    margin-right: 5px;
                }
                .brandName {
                    color: $cp1;
                    @include encode-b;
                }
            }
        }
    }
    .wrapperLetters {
        height: 100%;
        width: toPercentage(840, 502);
        padding-left: toPercentage(840, 60);
        .letterList {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100%;
            .letter {
                font-size: em(24);
                @include encode-b;
                text-transform: lowercase;
                margin-bottom: 20px;
                cursor: pointer;
                &.active {
                    color: $cr1;
                }
            }
            .brandItem {
                a {
                    font-size: em(16);
                    text-decoration: none;
                    text-transform: lowercase;
                    color: $cp1;
                    @include encode-b;
                    span {
                        color: $cr1
                    }
                }
            }
        }
    }
}

.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    @include cursorClose;
}